.title {
  color: #ffee58;
  text-transform: capitalize;
}

.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &__link {
    text-decoration: none;
    color: #1b1a17;
  }
}

.card {
  &__image {
    display: flex;
    width: 240px;
  }

  &__caption {
    background-color: red;
    height: 30px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background: white;
  }
}

.navigation {
  display: flex;
  gap: 10px;

  &__button {
    background-color: white;
    color: #1b1a17;
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
