.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.link {
  display: block;
}

.card {
  display: flex;
  width: 240px;

  &__image {
    width: 240px;
  }
}

.navigation {
  display: flex;
  gap: 10px;
  align-self: center;
}
